<ion-view title="" hide-nav-bar="true" class="auth-page animation-duration" ng-controller="authInterviewerCtrl" >
    <form class="auth-form">
        <div class="title">
            <img class="" src="img/s1_title.png">
        </div>
        <div class="item-input-wrapp auth-page-i2">
            <input type="input" value="Введите логин"
                   onfocus="if(this.value==this.defaultValue)this.value='';"
                   onblur="if(this.value=='')this.value=this.defaultValue;"
                   class="item item-input item-input-text" ng-model="user.login">
        </div>


        <div class="item-input-wrapp auth-page-i3">
            <input type="input" disabled="disabled"  class="item item-input item-input-text" value="{{dateNow}}">
        </div>

        <div class="auth-page-i4">
            <select class="ion-input-select item-select" ng-model="user.city">
                <option ng-selected="true" disabled value="">Выберите город</option>
                <option value="38">Ярославль</option>
                <option value="39">Рыбинск</option>
            </select>
        </div>

        <div class="item-input-wrapp auth-page-i5">
            <input type="text" value="Введите адрес ТТ"
                   onfocus="if(this.value==this.defaultValue)this.value='';"
                   onblur="if(this.value=='')this.value=this.defaultValue;"
                   class="item item-input item-input-text" ng-model="user.adress">
        </div>

        <button class="auth-page-i7 submit" ng-click="authUserGo(user.login, user.city, user.adress)" >
            <img src="img/s1_start.png">
        </button>
    </form>
</ion-view>