<ion-view title="" hide-nav-bar="true" class="eight-q-page animation-duration" ng-controller="eightQPageCtrl" >


    <div class="title">
        <img class="" src="img/b8.png">
    </div>

    <div class="eight-q-page-i1"  ng-click="nextPage('Проверенное качество')"></div>

    <div class="eight-q-page-i2"  ng-click="nextPage('Особый вкус сигарет')"></div>

    <div class="eight-q-page-i3"  ng-click="nextPage('Привлекательная цена')"></div>

    <div class="eight-q-page-i4"  ng-click="nextPage('Всё перечисленное')"></div>

    <button class="eight-q-page-i5 submit"  ng-click="stopPage()">
        <img src="img/sub-close.png">
    </button>


</ion-view>