<ion-view title="" hide-nav-bar="true" class="nine-q-page animation-duration" ng-controller="nineQPageCtrl" >


    <div class="title">
        <img class="" src="img/b1.png">
    </div>

    <div class="yes nine-q-page-i1"  ng-click="nextPage('Да')"></div>

    <div class="no nine-q-page-i2"  ng-click="nextPage('Нет')"></div>

    <div class="nine-q-page-i3">
        <img class="" src="img/b2.png">
    </div>

    <button class="nine-q-page-i5 submit"  ng-click="stopPage()">
        <img src="img/sub-close.png">
    </button>


</ion-view>