<ion-view title="" hide-nav-bar="true" class="seven-q-page animation-duration" ng-controller="sevenQPageCtrl" >


    <div class="title">
        <img class="" src="img/b3.png">
    </div>

    <div class="seven-q-page-i1"  ng-click="nextPage('Привлекательный цена')"></div>

    <div class="seven-q-page-i2"  ng-click="nextPage('Известность марки/бренда сигарет')"></div>

    <div class="seven-q-page-i3"  ng-click="nextPage('Дизайн пачки')"></div>

    <div class="seven-q-page-i4"  ng-click="nextPage('Оригинальный вкус')"></div>

    <button class="seven-q-page-i5 submit"  ng-click="stopPage()">
        <img src="img/sub-close.png">
    </button>


</ion-view>