<ion-view title="" hide-nav-bar="true" class="start-work-page animation-duration" ng-controller="startWorkPageCtrl" >

    <div class="title">
        <img class="" src="img/s2_title.png">
    </div>

    <button class="start-work-page-i1 submit" ng-click="createForm()" >
        <img src="img/s2_start.png">
    </button>
    <button class="start-work-page-i2 submit" ng-click="showStat()" >
        <img src="img/s2_stat.png">
    </button>
    <button class="start-work-page-i3 submit" ng-click="uploadForm()" >
        <img src="img/s2_upload.png">
    </button>

    <button ng-show="userId != ''" class="start-work-page-i4 submit" ng-click="exitApp()" >
        <img src="img/s2_end.png">
    </button>

    <button ng-show="userId == '467'" class="start-work-page-i5 submit" ng-click="saveFiletoCashe()" >
        <img src="img/s2_file.png">
    </button>

    <!--
        <button ng-show="userId == '409'" class="start-work-page-i5 submit" ng-click="uploadFormAll()" >
            <img ng-show="keyWord == '1'" src="img/p_2_5.png">
        </button>
    -->
</ion-view>